@import "main";
@import "contact-common";

#about {
  & > section {
    padding: 1em;

    @media (--large) {
      padding: 2em 0;
    }
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    & .inner {
      grid-column: 1 / span 6;

      @media (--large) {
        grid-column: 2 / span 4;
      }
    }

    @apply --company-info;

    & > figure {
      margin: 2em 0;

      & figcaption {
        text-align: center;
      }
    }

    &.with-background {
      background: linear-gradient(to right, rgba(41, 206, 206, 1), rgba(67, 150, 226, 1));
      color: white;
      @media (--large) {
        text-align: center;
      }
    }

    &.with-icon {
      @media (--large) {
        text-align: center;
      }
      display: grid;
      justify-items: center;
      align-content: center;

      & img {
        margin: 2em;
      }

      & h3 {
        font-size: 1.2em;
        margin: 0;
        padding: 0;
      }
    }
  }
}
