@import "main";

#blog {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column: 1 / span 12;

  @media (--large) {
    grid-column: 1 / span 12;
  }

  & > section.list {
    padding: 1em 1em;

    @media (--large) {
      grid-column: 2 / span 4;
      padding: 2em 0;
      display: grid;
    }

    & > ul {
      list-style: none;
      margin: 0;
      padding: 0;

      @media (--large) {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
      }

      & > li {
        background: var(--grey);
        margin: 0.5em 0;
        padding: 0.5em;
        display: grid;
        grid-template-columns: 1fr auto;

        @media (--large) {
          padding: 1em;
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
          border-radius: 0.2em;
        }

        & > .title {
          @media (--large) {
            grid-column: 1 / span 1;
            font-size: 1.2em;
          }

          & a {
            color: $green;
            text-decoration: none;
          }
        }

        & > .teaser {
          @media (--large) {
            grid-column: 1 / span 2;
          }

          & img {
            width: 100%;
          }
        }

        & > time {
          font-size: 0.8em;

          @media (--large) {
            grid-column: 2 / span 1;
            font-size: 0.8em;
            display: initial;
          }
        }

        & a {
          @media (--large) {
            width: 100%;
            color: rgb(0, 204, 153);
            text-decoration: none;
          }
        }

        & img {
          @media (--large) {
            max-width: 200px;
            max-height: 200px;
          }
        }
      }
    }
  }

  & > article {
    @media (--large) {
      grid-column: 2 / span 4;
    }

    & > .header {
      padding: 0 1em;

      & h2 {
        @media (--large) {
          margin-bottom: 2em;
          font-size: 2em;
          text-align: center;
        }
      }

      & a {
        text-decoration: none;
        color: $green;
      }

      & date {
        @media (--large) {
          text-align: right;
          display: block;
        }
      }
    }

    & > .body {
      padding: 0 1em;

      a {
        color: rgb(0, 204, 153);

        &:visited {
          color: rgb(0, 104, 53);
        }
      }

      & figure {
        text-align: center;
        margin: 0;

        & img {
          max-width: 100%;
        }

        & img[alt="画像"] + figcaption {
          display: none;
        }

        & figcaption {
          font-size: 0.8em;

          @media (--large) {
            font-size: 1em;
          }
        }
      }

      & img {
        max-width: 100%;

        @media (--large) {
          margin: 4em auto;
        }
      }
    }
  }
}
