@import "main";

#column {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  & img {
    max-width: 100%;
  }

  & > article {
    padding: 0 1em;

    @media (--large) {
      grid-column: 3 / span 8;
      padding: 2em 0;
    }

    & p {
      word-break: break-all;
    }

    & p:before {
      content: "";
      width: 10em;
      display: block;
      overflow: hidden;
    }

    & figure {
      margin-top: 0;
    }

    & figure + p {
      margin-top: 0;
    }

    & figure.left {
      display: inline;
      float: left;
    }

    & figure.clear {
      clear: both;
      text-align: center;
    }

    & figcaption {
      text-align: center;
    }

    & .buyout {
      justify-self: center;
    }
  }
}
