@import "variables";
@import "button";

.contact {
  grid-column: 1 / span 6;
  background-color: var(--grey);
  color: black;

  & .inner {
    display: grid;
    grid-column: 2 / span 4;
    align-items: center;
    justify-items: start;
    grid-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "contact-title" "contact-text" "contact-button" "contact-link";

    & > h3 {
      grid-area: contact-title;
      font-size: 1.4em;
    }

    & > p {
      grid-area: contact-text;
    }

    & > .button {
      grid-area: contact-button;
      justify-self: start;
    }

    & > .soudan {
      grid-area: contact-link;
    }
  }
}
