@import "variables";

body > footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  grid-row-gap: 2em;
  background-color: var(--grey);
  border-top: 1px solid #e5e5e5;
  padding-top: 1em;

  @media (--large) {
    justify-items: center;
  }

  & nav {
    display: none;

    @media (--large) {
      display: block;
      width: 100%;
      grid-column: 3 / span 8;
      background: black;
      font-size: 0.8em;

      & ul {
        display: grid;
        align-items: center;
        justify-items: stretch;
        list-style: none;
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(10, auto);
        grid-gap: 1px;

        & li {
          text-align: center;
          background: var(--grey);
          width: 100%;
          height: 100%;

          & a {
            display: block;
          }
        }
      }
    }
  }

  & a {
    color: rgb(102, 102, 102);
    text-decoration: none;

    &:hover {
      color: var(--green);
    }
  }

  & .company {
    grid-column: 3 / span 9;
    grid-row: 2;
    text-align: left;
    line-height: 1.5em;
    color: rgb(102, 102, 102);

    & .links {
      font-size: 0.875em;
      white-space: pre-line;
      @media (--large) {
        white-space: inherit;
      }
    }

    & .links > a:not(:first-child) {
      @media (--large) {
        border-left: 1px solid black;
      }
    }

    & .links > a {
      @media (--large) {
        padding: 0 1em;
      }
    }

    & .copy {
      font-size: 0.7em;
      line-height: 4em;
      text-align: center;
    }
  }

  & .positive {
    grid-column: 3 / span 9;
    grid-row: 3;
    font-size: 0.7em;
    justify-self: center;

    @media (--large) {
      justify-self: end;
    }
  }
}
