@import "main";
@import "post";
@import "button";
@import "contact-common";

#hero {
  grid-column: 1 / span 12;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./../images/hero.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "flipper" "title" "button";
  align-items: center;
  justify-items: center;

  & h2 {
    grid-area: title;
    grid-row: 2;
    justify-self: center;
    font-size: 2em;
    color: white;
    text-align: center;
    margin: 0;
    font-weight: 300;

    & .small {
      margin-top: 1em;
      font-size: 50%;
    }
  }

  & .button {
    margin: 3em;
    grid-area: button;
  }
}

.flipper {
  grid-area: flipper;
  margin: 2em 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "flipper";
  justify-items: center;

  & > img {
    max-width: 100%;
    max-height: 7em;

    @media (--large) {
      max-height: 14em;
    }
    z-index: 9;
    grid-area: flipper;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
  }

  & > img:nth-child(1) {
    animation-name: fade-reverse;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-reverse {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

#home {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  & > section {
    padding: 3em 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    & .inner {
      display: grid;
      grid-template-columns: 1fr;

      @media (--large) {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }

  & .news {
    @media (--large) {
      grid-column: 2 / span 4;
    }

    & .inner {
      grid-column: 1 / span 6;

      & table {
        @media (--large) {
          grid-column: 2 / span 5;
        }
        list-style: none;

        & .title {
          display: inline;
        }
      }
    }
  }

  & .service {
    grid-column: 1 / span 6;
    background: linear-gradient(to right, rgba(41, 206, 206, 1), rgba(67, 150, 226, 1));
    color: white;

    & .inner {
      grid-column: 2 / span 4;
      grid-gap: 3em;
      grid-row-gap: 1em;
      align-items: center;
      justify-items: stretch;
      grid-template-areas: "service-title" "service-1-logo" "service-1-title" "service-1-desc" "service-2-logo" "service-2-title" "service-2-desc" "service-3-logo" "service-3-title" "service-3-desc" "service-4-logo" "service-4-title" "service-4-desc";

      @media (--large) {
        text-align: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "service-title   service-title   service-title   service-title"
        "service-1-logo  service-2-logo  service-3-logo  service-4-logo"
        "service-1-title service-2-title service-3-title service-4-title"
        "service-1-desc  service-2-desc  service-3-desc  service-4-desc";
      }

      & .service-1-desc { grid-area: service-1-desc; }
      & .service-1-desc { grid-area: service-1-desc; }
      & .service-1-logo { grid-area: service-1-logo; }
      & .service-1-title { grid-area: service-1-title; }
      & .service-2-desc { grid-area: service-2-desc; }
      & .service-2-desc { grid-area: service-2-desc; }
      & .service-2-logo { grid-area: service-2-logo; }
      & .service-2-title { grid-area: service-2-title; }
      & .service-3-desc { grid-area: service-3-desc; }
      & .service-3-desc { grid-area: service-3-desc; }
      & .service-3-logo { grid-area: service-3-logo; }
      & .service-3-title { grid-area: service-3-title; }
      & .service-4-desc { grid-area: service-4-desc; }
      & .service-4-desc { grid-area: service-4-desc; }
      & .service-4-logo { grid-area: service-4-logo; }
      & .service-4-title { grid-area: service-4-title; }

      & .service-title {
        grid-area: service-title;
        font-size: 2em;
        text-align: center;
        color: #fff;
        margin: 0;
      }

      & .logo {
        text-align: center;
      }

      & .title {
        text-align: justify;
        align-self: start;
        justify-self: center;
      }

      & .desc {
        align-self: start;
        text-align: left;
        padding: 0 0 1em 0;
      }

      & .desc:not(:last-child) {
        border-bottom: 1px solid #2F679C;
        @media (--large) {
          border-bottom: 0;
        }
      }

      & h4 {
        font-size: 1.2em;
        margin: 0;
      }

      & img {
        max-height: 11em;
        max-width: 100%;
      }
    }
  }

  /* Home Character */

  & > .character {
    grid-column: 1 / span 6;
    display: grid;
    background-color: #fff;
    color: black;

    & .inner {
      grid-column: 2 / span 4;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      display: grid;
      grid-column-gap: 8em;
      align-items: stretch;
      @media (--large) {
        justify-items: center;
      }

      @media (--large) {
        grid-template-columns: 1fr 1fr;
      }

      & h3 {
        font-size: 1.4em;
        @media (--large) {
          text-align: center;
        }
      }

      & img {
        max-width: 100%;
        max-height: 12em;
        align-self: center;
      }

      & > .left {
        display: grid;
        grid-row: 1;
        grid-column: 1;
        grid-template-areas: "japan-title" "japan-image" "japan-text";
        justify-items: center;

        & > h3 { grid-area: japan-title; }
        & > img { grid-area: japan-image; height: 8.1em; }
        & > .text { grid-area: japan-text; }

        @media (--large) {
          padding: 0;
          grid-column: 1;
          grid-template-rows: 4em 260px 1fr;
          grid-template-areas: "japan-title" "japan-image" "japan-text";
        }
      }

      & .right {
        display: grid;
        grid-row: 2;
        grid-column: 1;
        grid-template-areas: "char-title" "char-image" "char-text";

        & > h3 { grid-area: char-title; }
        & > img { grid-area: char-image; }
        & > .text { grid-area: char-text; }

        @media (--large) {
          justify-items: center;
          padding: 0;
          grid-row: 1;
          grid-column: 2;
          grid-template-rows: 4em 260px 1fr;
          grid-template-areas: "char-title" "char-image" "char-text";
        }
      }
    }
  }

  /****************/
  /* Home contact */
  /****************/

  & .contact .inner {
    grid-template-columns: repeat(1, 1fr);

    @media (--large) {
      grid-column: 2 / span 4;
    }
  }

  /**********************/
  /* Home communication */
  /**********************/

  & .communication {
    grid-column: 1 / span 6;
    background-color: #8cd1e4;
    color: black;

    & .inner {
      grid-column: 2 / span 4;
      display: grid;
      justify-items: start;
      grid-gap: 1em;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: "comm-1" "comm-2" "comm-3";

      @media (--large) {
        justify-items: start;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "comm-1 comm-2 comm-3";
      }

      & > :nth-child(1) {
        grid-area: comm-1;
      }

      & > :nth-child(2) {
        grid-area: comm-2;
      }

      & > :nth-child(3) {
        grid-area: comm-3;
      }

      & > :nth-child(4) {
        grid-area: comm-4;
      }

      & p {
        margin: 0;
      }

      & p + p {
        margin: 0;
      }
    }
  }
}
