@import "main";

#sent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column: 1 / span 12;

  & p {
    justify-self: center;
    align-self: center;
    height: 25vh;
    line-height: 12.5vh;
  }
}
