@import "main";
@import "button";

.bg-soudan {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(/images/bg_soudan.png);
}

.bg-soudan h3 {
  font-size: 1.4em;
  align-self: end;
  margin: 0;
  color: black;
}

#soudan {
  & > section.with-icon:nth-child(3) > h3 {
    font-weight: bold;
  }

  & > section {
    padding: 2em 1em;
  }
}

.parallax {
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-items: center;
  grid-gap: 2em;
}
