@import 'variables';

@mixin company-info {
  > dl {
    > dt {
      font-size: 1.2em;
      margin-top: 1em;
    }

    > dd {
      &.grid-2 {
        :nth-child(odd):after { content: ":"; }
        :nth-child(2n):after {
          content: "\A";
          white-space: pre;
        }

        @media screen and (min-width: $cutoff) {
          display: grid;
          grid-template-columns: 0.5fr 1.5fr;
          grid-column-gap: 1em;
          :nth-child(odd) { text-align: right; }
        }
      }
    }
  }
}
