body > header {
  grid-row: 1;
  grid-column: 1;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-items: center;
  align-items: center;
  height: 6rem;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  transition: 300ms;
  font-size: 0.8em;

  .logo {
    grid-column: 3 / span 1;
    grid-row: 1;
    width: 100%;

    img {
      height: 3em;
    }
  }

  nav {
    grid-column: 4 / span 7;
    grid-row: 1;
    grid-gap: 1em;
  }
}

html:not([data-scroll="0"]) > body > header {
  height: 4rem;
  transition: 300ms;
}
