@import "main";
@import "post";
@import "button";
@import "contact-common";

#hero {
  grid-column: 1 / span 12;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./../images/hero.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "flipper" "title" "button";
  align-items: center;
  justify-items: center;

  h2 {
    grid-area: title;
    grid-row: 2;
    justify-self: center;
    font-size: 2em;
    color: white;
    text-align: center;
    margin: 0;
    font-weight: 300;
  }

  .button {
    margin: 3em;
    grid-area: button;
  }
}

.flipper {
  grid-area: flipper;
  margin: 2em 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "flipper";
  justify-items: center;

  > img {
    max-width: 100%;
    max-height: 7em;

    @media screen and (min-width: $cutoff) {
      max-height: 14em;
    }

    z-index: 9;
    grid-area: flipper;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
  }

  > img:nth-child(1) {
    animation-name: fade-reverse;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-reverse {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

#home {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  > section {
    padding: 3em 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .inner {
      display: grid;
      grid-template-columns: 1fr;

      @media screen and (min-width: $cutoff) {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }

  .news {
    @media screen and (min-width: $cutoff) {
      grid-column: 2 / span 4;
    }

    .inner {
      grid-column: 1 / span 6;

      h3 {
        text-align: center;
      }

      ul {
        @media screen and (min-width: $cutoff) {
          grid-column: 2 / span 5;
        }

        list-style: none;
      }
    }
  }

  .service {
    grid-column: 1 / span 6;
    background: linear-gradient(to right, rgba(41, 206, 206, 1), rgba(67, 150, 226, 1));
    color: white;

    .inner {
      text-align: center;
      grid-column: 2 / span 4;
      grid-gap: 2em;
      align-items: center;
      justify-items: stretch;
      grid-template-areas: "service-title" "service-left-logo" "service-left-title" "service-left-desc" "service-center-logo" "service-center-title" "service-center-desc" "service-right-logo" "service-right-title" "service-right-desc";

      @media screen and (min-width: $cutoff) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 7em 1.5fr 0.5fr 1fr;
        grid-template-areas: "service-title service-title service-title" "service-left-logo  service-center-logo  service-right-logo" "service-left-title service-center-title service-right-title" "service-left-desc  service-center-desc  service-right-desc";
      }

      .service-left-logo {
        grid-area: service-left-logo;
      }

      .service-center-logo {
        grid-area: service-center-logo;
      }

      .service-right-logo {
        grid-area: service-right-logo;
      }

      .service-left-title {
        grid-area: service-left-title;
      }

      .service-center-title {
        grid-area: service-center-title;
      }

      .service-right-title {
        grid-area: service-right-title;
      }

      .service-left-desc {
        grid-area: service-left-desc;
      }

      .service-center-desc {
        grid-area: service-center-desc;
      }

      .service-right-desc {
        grid-area: service-right-desc;
      }

      .service-title {
        grid-area: service-title;
        font-size: 2em;
        color: #fff;
        margin: 0;
      }

      h4 {
        font-size: 1.2em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin: 0;
        padding: 1em;
      }

      img {
        width: 50%;
      }
    }
  }

  /* Home Area */

  .area {
    grid-column: 1 / span 6;
    background-color: $grey;
    color: black;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .inner {
      grid-column: span 6;
      grid-gap: 1em;
      display: grid;
      align-items: center;
      justify-items: center;
      text-align: center;
      grid-template-areas: "area-title" "area-image" "area-text" "area-button";

      @media screen and (min-width: $cutoff) {
        grid-template-columns: 0.5fr repeat(2, 1fr) 0.5fr;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-areas: ". area-title area-text ." ". area-image area-text ." ". area-image area-button .";
      }

      > h3 {
        grid-area: area-title;
        align-self: center;
      }

      > img {
        grid-area: area-image;
      }

      > .text {
        grid-area: area-text;
        align-self: start;
        padding: 1em;
      }

      > .button {
        grid-area: area-button;
        align-self: start;
      }

      h3 {
        margin: 0;
        font-size: 1.4em;
      }

      p {
        margin: 0;
        text-align: left;
        font-size: 1em;
      }

      p + p {
        margin-top: 1em;
      }
    }
  }

  /* Home Character */

  .character {
    grid-column: 1 / span 6;
    display: grid;
    background-color: #fff;
    color: black;

    .inner {
      grid-column: 1 / span 6;
      padding: 0 1em;
      display: grid;
      grid-column-gap: 3em;
      align-items: center;
      justify-items: center;
      text-align: center;
      grid-gap: 2em;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: "char-title" "char-text" "char-image";

      > h3 {
        grid-area: char-title;
        font-size: 1.4em;
      }

      > img {
        grid-area: char-image;
        max-width: 100%;
      }

      > .text {
        grid-area: char-text;
        text-align: left;
      }

      @media screen and (min-width: $cutoff) {
        padding: 0;
        grid-column: 2 / span 4;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "char-title char-image" "char-text char-image";

        > img {
          width: 33em;
        }
      }
    }
  }

  /****************/
  /* Home contact */
  /****************/

  .contact .inner {
    grid-column: 1 / span 6;
    padding: 0 1em;
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: $cutoff) {
      grid-column: 2 / span 4;
    }
  }

  /**********************/
  /* Home communication */
  /**********************/

  .communication {
    grid-column: 1 / span 6;
    background-color: #8cd1e4;
    color: black;

    .inner {
      grid-column: 2 / span 4;
      display: grid;
      justify-items: start;
      grid-gap: 1em;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: "comm-1" "comm-2" "comm-3";

      @media screen and (min-width: $cutoff) {
        justify-items: start;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "comm-1 comm-2 comm-3";
      }

      > :nth-child(1) {
        grid-area: comm-1;
      }

      > :nth-child(2) {
        grid-area: comm-2;
      }

      > :nth-child(3) {
        grid-area: comm-3;
      }

      p {
        font-size: 0.8em;
        margin: 0;
      }

      p + p {
        margin: 0;
      }
    }
  }
}
