#main {
  > h1 {
    margin: 0;
    text-align: center;
    padding: 3em;
    background: rgb(245, 245, 245);
    color: rgb(58, 184, 144);
    font-weight: 400;
  }

  h3 {
    color: rgb(58, 184, 144);
  }
}
