@import 'parallax';
@import 'variables';
@import 'button';

.bg-soudan {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  ), url(/images/bg_soudan.png);
}

.bg-soudan h3 {
  font-size: 1.4em;
  align-self: end;
  margin: 0;
  color: black;
}

#soudan > section.with-icon:nth-child(3) > h3 {
  font-weight: bold;
}

#soudan {
  > section {
    padding: 2em 1em;
  }
}
