<h2>$title$</h2>

<section class="company">
  <dl class="inner grid-2">
    <dt>社名</dt>
    <dd>
      フィネスコ株式会社
    </dd>

    <dt>所在地</dt>
    <dd>
      〒321-0953 栃木県宇都宮市東宿郷三丁目2-3 カナメビル 8Ｆ<br />
      TEL：028-305-2925 FAX：028-333-1184
    </dd>

    <dt>設立</dt>
    <dd>
      平成23 年11 月11 日
    </dd>

    <dt>資本金</dt>
    <dd>
      10,000,000円
    </dd>

    <dt>役員</dt>
    <dd class="grid-2">
      <span>代表取締役社長</span> <span>山田 仁浩</span>
      <span>取締役</span> <span>山田 雅子</span>
      <span>取締役</span> <span>山田 隆太朗</span>
    </dd>

    <dt>顧問</dt>
    <dd class="grid-3">
      <span>顧問弁護士</span>
      <span>水村元晴 （みらい総合法律事務所）</span>
      <a href="http://www.mirailaw.jp">www.mirailaw.jp</a>
      <span>顧問税理士</span>
      <span>鈴木香欧里（鈴木光男税理士事務所）</span>
      <a href="http://www.kaikeiroumu.com">www.kaikeiroumu.com</a>
      <span>顧問社会保険労務士</span>
      <span>平尾民子（ひらお社会保険労務士事務所）</span>
      <a href="http://www.tsk-s.jp">www.tsk-s.jp</a>
    </dd>

    <dt>所属団体</dt>
    <dd class="grid-2">
      <span>財務省 関東財務局 / 経済産業省 関東経済産業局</span>
      <span>認定経営革新等支援機関</span>
      <span>事業再生実務家協会</span>
      <span>正会員</span>
      <span>事業再生研究機構</span>
      <span>正会員</span>
    </dd>

    <dt>投資先一覧</dt>
    <dd class="grid-2">
      <span>合同会社雅楽舎</span>
      <a href="http://www.garakusha.com">www.garakusha.com</a>
      <span>株式会社 スポーツギア</span>
      <a href="https://www.sports-gear.co.jp">www.sports-gear.co.jp</a>
    </dd>
  </dl>

  <figure class="map inner">
    <div style="height: 200px; width: 100%; background: #000;">&nbsp;</div>
  <!--
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3204.8464191530197!2d139.90391331584522!3d36.557815879999275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzbCsDMzJzI4LjEiTiAxMznCsDU0JzIyLjAiRQ!5e0!3m2!1sde!2sde!4v1564173726549!5m2!1sde!2sde" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
  -->
    <figcaption>[フィネスコ株式会社 本社所在地 地図]</figcaption>
  </figure>
</section>

<section class="with-icon">
  <div class="inner">
    <h3>認定経営革新等支援機関とは？</h3>
    <img src="images/bookmark.svg"/>
    <p>
      中小企業・小規模事業者が安心して経営相談等を受けられるために、<br />
      専門性の高い支援事業を行う者に対して、<span style="color: #24678d;">国が認定した公的な支援機関</span>のことです。​
    </p>
    <p>
      フィネスコは、財務省 関東財務局 と ​経済産業省<br />
      関東経済産業局から、認定を受けております。
    </p>
    <p>
      （認定番号）2016年8月30日 第37号認定
    </p>
  </div>
</section>

<section class="with-background">
  <div class="inner">
    <h3>代表者からのメッセージ</h3>
    <hr />
    <p>
      銀行勤務時代の「債権者の目線」、投資銀行時代の「投資家（資本家）の目線」、​<br />
      企業のハンズオン経験の「経営者の目線」、<br />
      それぞれの立場にはそれぞれの意⾒があることを「経験則として」十分認識しております。
    </p>

    <p>
      弊社は、その経験の中で<br />
      「あったらいいな、こんな会社」<br />
      というようなイメージを形にしたものです。
    </p>

    <p>
      単に「第三者的意見」を表明するだけでなく、ステークホルダー全体の「最大幸福」を追求し、<br />
      現実的な問題解決力を持つアドバイザリー会社を目指します。
    </p>
  </div>
</section>

<section class="career">
  <div class="inner">
    <h3>代表者経歴</h3>

    <p>
      1989 年（平成元年）株式会社足利銀行
      入行。主として融資部門に従事。栃木県内営業店勤務後、
      <br />
      2001年（平成13年）融資管理部 2002年（平成14年）企業支援部
      <br />
      l004 年（平成16年） 同行退職後、株式会社リサ・パートナーズ入社
      <br />
      ディレクターとして金融法人（地域金融機関）営業部門に従事。
      <br />
      株式会社 リファス(FAS)、株式会社
      リサ企業再生債権回収(サービサー)ディレクター兼務
      <br />
      2011年（平成23年） 同社退職後、当社設立。代表取締役に就任。
    </p>

    <b>著書</b>
    <p>
      「再生再編事例集 3 〜再生の現場と志〜」（平成16 年）商事法務
    </p>
  </div>
</section>

<section class="contact">
  <div class="inner">
    <h3>お気軽にご相談ください</h3>
    <p>24時間以内にご連絡差し上げます。</p>
    <a class="button" href="/contact">無料ご相談・お問い合わせはこちら</a>
    <a class="soudan" href="/soudan">ご相談の流れはこちら</a>
  </div>
</section>
