---
title: 会社概要
id: about
---

<h2>$title$</h2>

<section class="company">
  <dl class="grid-2">
    <dt>社名</dt>
    <dd>
      フィネスコ株式会社
    </dd>

    <dt>所在地</dt>
    <dd>
      〒321-0953 栃木県宇都宮市東宿郷三丁目2-3 カナメビル 8Ｆ<br />
      TEL：028-305-2925 FAX：028-333-1184
    </dd>

    <dt>設立</dt>
    <dd>
      平成23 年11 月11 日
    </dd>

    <dt>資本金</dt>
    <dd>
      10,000,000円
    </dd>

    <dt>役員</dt>
    <dd class="grid-2">
      <span>代表取締役社長</span><span>山田 仁浩</span> <span>取締役</span
      ><span>山田 雅子</span> <span>取締役</span><span>山田 隆太朗</span>
    </dd>

    <dt>顧問</dt>
    <dd class="grid-3">
      <span>顧問弁護士</span>
      <span>水村元晴 （みらい総合法律事務所）</span>
      <a href="http://www.mirailaw.jp">www.mirailaw.jp</a>
      <span>顧問税理士</span>
      <span>鈴木香欧里（鈴木光男税理士事務所）</span>
      <a href="http://www.kaikeiroumu.com">www.kaikeiroumu.com</a>
      <span>顧問社会保険労務士</span>
      <span>平尾民子（ひらお社会保険労務士事務所）</span>
      <a href="http://www.tsk-s.jp">www.tsk-s.jp</a>
    </dd>

    <dt>所属団体</dt>
    <dd class="grid-2">
      <span>財務省 関東財務局 / 経済産業省 関東経済産業局</span>
      <span>認定経営革新等支援機関</span>
      <span>事業再生実務家協会</span>
      <span>正会員</span>
      <span>事業再生研究機構</span>
      <span>正会員</span>
    </dd>

    <dt>投資先一覧</dt>
    <dd class="grid-2">
      <span>合同会社雅楽舎</span
      ><a href="http://www.garakusha.com">www.garakusha.com</a>
      <span>株式会社 スポーツギア</span
      ><a href="https://www.sports-gear.co.jp">www.sports-gear.co.jp</a>
    </dd>
  </dl>

  <div class="map">
    <div>[フィネスコ株式会社 本社所在地 地図]</div>

    <div style="height: 200px; width: 100%; background: #000;">&nbsp;</div>
    <!--
    <iframe
      allowtransparency="true"
      scrolling="no"
      style="width: 100%; height: 200px; margin-top: 10px; margin-bottom: 10px;"
      src="https://www.weebly.com/weebly/apps/generateMap.php?map=google&amp;elementid=546698284983900736&amp;ineditor=0&amp;control=3&amp;width=auto&amp;height=200px&amp;overviewmap=0&amp;scalecontrol=0&amp;typecontrol=0&amp;zoom=15&amp;long=139.90610200000003&amp;lat=36.5578159&amp;domain=www&amp;point=1&amp;align=1&amp;reseller=true"
      frameborder="0"
    ></iframe>
    -->

  </div>
</section>

<section class="with-icon">
  <h3>認定経営革新等支援機関とは？</h3>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="60"
    height="60"
    viewBox="0 0 768 768"
  >
    <path
      fill="#3cb371"
      d="M224 32h320q39.75 0 67.875 28.125t28.125 67.875v608l-256-192-256 192v-608q0-39.75 28.125-67.875t67.875-28.125zM544 96h-320q-13.25 0-22.625 9.375t-9.375 22.625v480l192-144 192 144v-480q0-13.25-9.375-22.625t-22.625-9.375z"
    ></path>
  </svg>
  <p>
    中小企業・小規模事業者が安心して経営相談等を受けられるために、<br />
    専門性の高い支援事業を行う者に対して、<span style="color: #24678d;"
      >国が認定した公的な支援機関</span
    >のことです。​
  </p>
  <p>
    フィネスコは、財務省 関東財務局 と ​経済産業省<br />
    関東経済産業局から、認定を受けております。
  </p>
  <p>
    （認定番号）2016年8月30日 第37号認定
  </p>
</section>

<section class="with-background">
  <div>
    <h3>代表者からのメッセージ</h3>
    <hr />
    <p>
      銀行勤務時代の「債権者の目線」、投資銀行時代の「投資家（資本家）の目線」、​<br />
      企業のハンズオン経験の「経営者の目線」、<br />
      それぞれの立場にはそれぞれの意⾒があることを「経験則として」十分認識しております。
    </p>

    <p>
      弊社は、その経験の中で 「あったらいいな、こんな会社」<br />
      というようなイメージを形にしたものです。
    </p>

    <p>
      単に「第三者的意見」を表明するだけでなく、ステークホルダー全体の「最大幸福」を追求し、<br />
      現実的な問題解決力を持つアドバイザリー会社を目指します。
    </p>
  </div>
</section>

<section class="career">
  <dl class="inner grid-2">
    <dt>代表者経歴</dt>

    <dd>
      <p>
        1989 年（平成元年）株式会社足利銀行
        入行。主として融資部門に従事。栃木県内営業店勤務後、
        <br />
        2001年（平成13年）融資管理部 2002年（平成14年）企業支援部
        <br />
        l004 年（平成16年） 同行退職後、株式会社リサ・パートナーズ入社
        <br />
        ディレクターとして金融法人（地域金融機関）営業部門に従事。
        <br />
        株式会社 リファス(FAS)、株式会社
        リサ企業再生債権回収(サービサー)ディレクター兼務
        <br />
        2011年（平成23年） 同社退職後、当社設立。代表取締役に就任。
      </p>

      <b>著書</b>
      <p>
        「再生再編事例集 3 〜再生の現場と志〜」（平成16 年）商事法務
      </p>
    </dd>
  </dl>
</section>

<section class="contact">
  <div class="inner">
    <h3>お気軽にご相談ください</h3>
    <p>24時間以内にご連絡差し上げます。</p>
    <a class="button" href="/contact">無料ご相談・お問い合わせはこちら</a>
    <a class="soudan" href="/soudan">ご相談の流れはこちら</a>
  </div>
</section>
