''
<h2>${ title }</h2>

<section class="company">
  <dl class="inner grid-2">
    <dt>社名</dt>
    <dd>
      フィネスコ株式会社
    </dd>

    <dt>所在地</dt>
    <dd>
      〒321-0953 <a href="https://maps.google.com/maps?ll=36.55781,139.906126&z=16&t=m&hl=ja&gl=US&mapclient=embed&daddr=%E3%83%95%E3%82%A3%E3%83%8D%E3%82%B9%E3%82%B3%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%20%E6%97%A5%E6%9C%AC%20%E3%80%92321-0953%20%E6%A0%83%E6%9C%A8%E7%9C%8C%E5%AE%87%E9%83%BD%E5%AE%AE%E5%B8%82%E5%AE%BF%E9%83%B7%EF%BC%93%E4%B8%81%E7%9B%AE%EF%BC%92%E2%88%92%EF%BC%93@36.5578097,139.9061255">栃木県宇都宮市東宿郷三丁目2-3 カナメビル 8Ｆ</a><br />
      TEL：028-305-2925 FAX：028-333-1184
    </dd>

    <dt>設立</dt>
    <dd>
      平成23 年11 月11 日
    </dd>

    <dt>資本金</dt>
    <dd>
      10,000,000円
    </dd>

    <dt>役員</dt>
    <dd class="grid-2">
      <span>代表取締役社長</span> <span>山田 仁浩</span>
      <span>取締役</span> <span>山田 雅子</span>
    </dd>

    <dt>顧問</dt>
    <dd class="grid-2">
      <span>顧問弁護士</span> <span>水村元晴（<a href="http://www.mirailaw.jp">みらい総合法律事務所</a>）</span>
      <span>顧問税理士</span> <span>鈴木香欧里（<a href="http://www.kaikeiroumu.com">鈴木光男税理士事務所</a>）</span>
      <span>顧問社会保険労務士</span> <span>平尾民子（<a href="https://www.sr-shiga.com/member-search/kohoku/365.html">ひらお社会保険労務士事務所</a>）</span>
    </dd>

    <dt>所属団体</dt>
    <dd class="grid-2">
      <span>財務省 関東財務局 / 経済産業省 関東経済産業局</span> <span>認定経営革新等支援機関</span>
      <span>中小企業庁登録</span> <span>M&amp;A支援機関</span>
      <span>事業再生実務家協会</span> <span>正会員</span>
      <span>事業再生研究機構</span> <span>正会員</span>
      <span>栃木県中小企業再生支援協議会</span> <span>登録専門家</span>
    </dd>

    <dt>投資先一覧</dt>
    <dd class="grid-2">
      <span>合同会社雅楽舎</span>
      <a href="http://www.garakusha.com">www.garakusha.com</a>
      <span>株式会社 スポーツギア</span>
      <a href="https://www.sports-gear.co.jp">www.sports-gear.co.jp</a>
    </dd>
  </dl>

  <figure class="map inner">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3204.846383523887!2d139.903934416131!3d36.557816739003975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601f67707c9e150d%3A0xee0e7654ed98f4a1!2z4oCL44OV44Kj44ON44K544Kz5qCq5byP5Lya56S-!5e0!3m2!1sja!2sja!4v1610905085723!5m2!1sja!2sja" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <figcaption>[フィネスコ株式会社 本社所在地 地図]</figcaption>
  </figure>
</section>

<section class="with-icon">
  <div class="inner">
    <h3>認定経営革新等支援機関とは？</h3>
    <img src="/images/bookmark.svg"/>
    <p>
      中小企業・小規模事業者が安心して経営相談等を受けられるために、<br />
      専門性の高い支援事業を行う者に対して、<span style="color: #24678d;">国が認定した公的な支援機関</span>のことです。​
    </p>
    <p>
      フィネスコは、財務省 関東財務局 と ​経済産業省<br />
      関東経済産業局から、認定を受けております。
    </p>
    <p>
      （認定番号）2016年8月30日 第37号認定
    </p>
  </div>
</section>

<section class="with-background">
  <div class="inner">
    <h3>代表者からのメッセージ</h3>
    <hr />
    <p>
      銀行勤務時代の「債権者の目線」、投資銀行時代の「投資家（資本家）の目線」、​<br />
      企業のハンズオン経験の「経営者の目線」、<br />
      それぞれの立場にはそれぞれの意⾒があることを「経験則として」十分認識しております。
    </p>

    <p>
      弊社は、その経験の中で<br />
      「あったらいいな、こんな会社」<br />
      というようなイメージを形にしたものです。
    </p>

    <p>
      単に「第三者的意見」を表明するだけでなく、ステークホルダー全体の「最大幸福」を追求し、<br />
      現実的な問題解決力を持つアドバイザリー会社を目指します。
    </p>
  </div>
</section>

<section class="career">
  <div class="inner">
    <h3>代表者経歴</h3>

    <p>
      1989 年（平成元年）株式会社足利銀行
      入行。主として融資部門に従事。栃木県内営業店勤務後、
      <br />
      2001年（平成13年）融資管理部 2002年（平成14年）企業支援部
      <br />
      2004 年（平成16年） 同行退職後、株式会社リサ・パートナーズ入社
      <br />
      ディレクターとして金融法人（地域金融機関）営業部門に従事。
      <br />
      株式会社 リファス(FAS)、株式会社
      リサ企業再生債権回収(サービサー)ディレクター兼務
      <br />
      2011年（平成23年） 同社退職後、当社設立。代表取締役に就任。
    </p>

    <b>著書</b>
    <p>
      「再生再編事例集 3 〜再生の現場と志〜」（平成16 年）商事法務
    </p>
  </div>
</section>

<section class="contact">
  <div class="inner">
    <h3>お気軽にご相談ください</h3>
    <p>24時間以内にご連絡差し上げます。</p>
    <a class="button" href="/contact">無料ご相談・お問い合わせはこちら</a>
    <a class="soudan" href="/soudan">ご相談の流れはこちら</a>
  </div>
</section>
''
