''
<h2>${ title }</h2>

<article>
  <p>昨年（2017年）、EBO（従業員による事業買収）により設立された、「株式会社スポーツギア」（本社：栃木県足利市）さんの第1回定時株主総会が開催されました。</p>

  <figure class="left">
    <a href="/images/column_first.png">
      <img src="/images/column_first.png" alt="【株主総会後、次期新商品の説明をうれしそうに語る塙社長】">
    </a>
    <figcaption>【株主総会後、次期新商品の説明をうれしそうに語る塙社長】</figcaption>
  </figure>

  <p>ゴルフ練習場の自動ティーアップマシンだが、非常に安価で、かつメンテナンスが簡単。リニューアルはしたいが、あまりお金をかけられない練習場経営者には朗報、と、販売には自信があるという。</p>

  <p>勤務していた会社が突然の倒産（破産申立）、自らも即時解雇された同社の塙社長は、当時34才。第1子が生まれたばかりでした。突然失職した塙社長を起業するに至った最大の動機は、顧客からの熱い声援でした。</p>

  <p>同社が扱うピッチングマシンは、大手スポーツメーカーが販売する業界では日本有数のマシンですが、開発や製造、メンテナンスや消耗品の販売は勤務先が行っていました。その勤務先が倒産すれば、既に納入していたお客様は当然ながら不安です。当時から親身な相談と丁寧なサポートには定評があった塙社長には顧客対応に追われる日が続きました。</p>

  <p>「このままではお客様が不安になるだけ。ここで私が受け皿にならなければ、だれがお客様のサポートができるのか」。</p>

  <p>塙社長は、遂に自分が受け皿会社を作り、お客様のサポートを継続することを決断するのです。
    しかし、マシンの知識は十分にあるが、「会社を作り、経営をする」という事は一度も経験がありません。そんなとき、知人経由で弊社に一連の創業支援の要請があり、塙社長とのお付き合いが始まりました。</p>

  <p>事業承継とかM&amp;Aという言葉は結構馴染みがある言葉ですが、実際のそれは様々な手法があります。よくあるのはMBO（経営陣による事業買収）です。代表者が退任する際に、専務や常務など、いわゆる経営陣が事業を継承することを指します。経営陣が当事者となるため、情報も前経営者とは共有していること、そもそも経営を担ってきた実績があることなどから、比較的スムーズに承継されるケースです。</p>

  <p>しかし、今回は、従業員、しかも解雇されたばかりの一介の従業員が、いきなり経営者になるのです。
    その覚悟、その後の経営の持続可能性、経営とは何か、から始めないといけません。</p>

  <figure class="clear">
    <a href="/images/column_ebo.png">
      <img src="/images/column_ebo.png" alt="Employee Buyout">
    </a>
  </figure>

  <p>でも、塙社長は持ち前の明るさとバイタリティーで果敢に問題にトライし続けました。実体験を積むことによりスーパースピードで経営者とはどうあるべきかを学習しています。また、中小企業ではなかなか馴染みのない「知財（特許）戦略」にもチャレンジ。競合他社への特許流出を立派に防衛しました。経営数値も好調。第1期は経営計画対比、利益は約5倍で着地。初年度黒字と初年度からの配当を実施しました。なかなかできないことです。</p>

  <p>第2期は、新特許技術で新商品を発表すると共に、営業マンを増強し、営業範囲を拡大させもっと多くの皆様に製品をアピールしたいと大きな野心をもって臨んでいます。</p>

  <p>弊社としてもできる限りお役に立てるよう、「共に育つ」をモットーにサポートを続けたいと思っております。（EBOのみならず、MBO、MLBOなど、会社のニーズに合ったM&amp;A・事業承継策を取り扱っております）</p>

  <p>[2018/03/31]</p>
</article>
''
