<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>フィネスコ株式会社 | 経営アドバイザリーサービス - $title$</title>
    <meta property="og:title" content="フィネスコ株式会社　代表　山田仁浩　ブログ">
    <meta property="og:site_name" content="フィネスコ株式会社 | 経営アドバイザリーサービス">
    <meta property="og:description" content="3月、第二代インターン、石川章由くんが宇都宮大学国際学部と当社を卒業して行きました。4月からはアグレッシブな投資銀行部が有名な、...">
    $favicons$
    <link rel="stylesheet" href="/scss/normalize.css" />
    <link rel="stylesheet" href="/scss/body.css" />
    <link rel="stylesheet" href="/scss/navigation.css" />
    <link rel="stylesheet" href="/scss/footer.css" />
    <link rel="stylesheet" href="/scss/post.css" />
    <link rel="stylesheet" href="/scss/$id$.css" />
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>

  <body>
    <header>
      <a href="/" class="logo"><img src="/images/finescologo.png" alt="Finesco logo" /></a>
      $partial("templates/header-navigation.html")$
    </header>

    <main role="main" id="$id$">
      $body$
    </main>

    <footer>
      $partial("templates/footer-navigation.html")$
      $partial("templates/footer.html")$
    </footer>

    <script src="/js/scroll.js"></script>
    <!-- <script src="/js/live.js"></script> -->
    <script>
     if (window.netlifyIdentity) {
       window.netlifyIdentity.on("init", user => {
         if (!user) {
           window.netlifyIdentity.on("login", () => {
             document.location.href = "/admin/";
          })
        }
      })
    }
    </script>
  </body>
</html>
