<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>フィネスコ株式会社 | 経営アドバイザリーサービス - $title$</title>
    <meta property="og:title" content="フィネスコ株式会社　代表　山田仁浩　ブログ">
    <meta property="og:site_name" content="フィネスコ株式会社 | 経営アドバイザリーサービス">
    <meta property="og:description" content="3月、第二代インターン、石川章由くんが宇都宮大学国際学部と当社を卒業して行きました。4月からはアグレッシブな投資銀行部が有名な、...">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/$id$.css" />
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="/"><img src="/images/finescologo.png"/></a>
      </div>
      $partial("templates/nav.html")$
    </header>

    <main role="main" id="$if(id)$$id$$else$""$endif$">
      $body$
    </main>

    <footer>
      $partial("templates/nav.html")$
      $partial("templates/footer.html")$
    </footer>

    <script src="/js/scroll.js"></script>
    <script src="/js/live.js"></script>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
     <!-- <script type="text/javascript" src="//typesquare.com/3/tsst/script/en/typesquare.js?5d31e28fbcc84de8a22f0c0cac1e02ec" charset="utf-8"></script> -->
  </body>
</html>
