''
<h2>${ title }</h2>
<article>
  <p>フィネスコ株式会社およびフィネスコグループは、当サイトに掲載している情報の 正確性について万全を期しておりますが、その内容について保証するものではありません。(RSSで配信される情報も含みます)。 当サイトに掲載している情報は、一般的なガイダンスに限定されています。</p>

  <p>法律の適用およびそのインパクトは、特定の事実関係によって大幅に異なることが ありえます。</p>

  <p>法律、規則、規定は、常に変更が加えられること、および電子的通信 手段に(不可避的)に内在する危険性や問題点を踏まえ、当サイトに掲載される情報は、その情報提供が遅れたり、欠落したり、また不正確である可能性もあります。</p>

  <p>したがって、著者あるいは発行者は、このサイトにおいては法務、会計、税務あるいはその他の専門的なアドバイスあるいはサービスを提供しているものではないという認識で、当サイトの情報を提供しています。</p>

  <p>そのため、当サイトに掲載されている情報を、専門的な会計、税務、法務、その他の権限あるアドバイスの代用として用いるべきではありません。</p>

  <p>当サイトの情報に基づき具体的な決定や行為を起こす前に、フィネスコグループの専門家に相談することが肝要です。</p>

  <p>当サイトでは、信頼できる情報源から得た情報を、確実に掲載するようあらゆる努力をしておりますが、フィネスコは、間違い、情報の欠落、あるいは、掲載されている情報の使用に起因して生じる結果に対して一切の責任を負わないものとします。</p>

  <p>当サイトに掲載されている全ての情報は、その時点の情報が掲載されており、完全性、正確性、時間の経過、あるいは、情報の使用に起因して生じる結果について一 切の責任を負わないものとします。</p>

  <p>また、あらゆる種類の保証、それが明示されているか示唆されているかにかかわらず、また業務遂行、商品性、あるは特定の目的への適合性への保証、また、これらに限定されない保証も含め、いかなることも保証するものではありません。</p>

  <p>いかなる場合にも、フィネスコ、その関連するパートナーシップ、法人、パートナ ー、代理人、ならびに従業員は、当サイトに掲載されている情報によって決定を下したり、あるいは行為を起こしたことにより、結果的に損害を受け、特別なあるい は同類の損害を蒙ったとしても、またその損害の可能性について言及していたとしても、一切の責任を負いません。当サイトで掲載されている外部サイトへのリンクは、第三者が運営しているもので、 当社は管理しておりません。フィネスコが、その正確性や第三者のサイトに掲載さ れている情報について内容の正確性を保障ないし推奨するものではありません。</p>
</article>
''
