''
<h2>${ title }</h2>

<section class="company">
  <dl class="inner grid-2">
    <dt>Company Name</dt>
    <dd>Finesco Inc.</dd>

    <dt>Head Office</dt>
    <dd>
      <a href="https://maps.google.com/maps?ll=36.55781,139.906126&z=16&t=m&hl=ja&gl=US&mapclient=embed&daddr=%E3%83%95%E3%82%A3%E3%83%8D%E3%82%B9%E3%82%B3%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%20%E6%97%A5%E6%9C%AC%20%E3%80%92321-0953%20%E6%A0%83%E6%9C%A8%E7%9C%8C%E5%AE%87%E9%83%BD%E5%AE%AE%E5%B8%82%E5%AE%BF%E9%83%B7%EF%BC%93%E4%B8%81%E7%9B%AE%EF%BC%92%E2%88%92%EF%BC%93@36.5578097,139.9061255">
      Kaname Bldg 8F,<br />
      Higashisyukugo 3-2-3,<br/>
      Utsunomiya-shi,<br/>
      Tochigi 321-0953,<br/>
      Japan</a><br/>
      Tel: 028-305-2925<br />
      Fax: 028-333-1184
    </dd>

    <dt>Founded</dt>
    <dd>
      November 11, 2011
    </dd>

    <dt>Capital</dt>
    <dd>
      ¥10,000,000
    </dd>

    <dt>Executives</dt>
    <dd class="grid-2 execs">
      <span>Representative</span> <span>Kimihiro Yamada</span>
      <span>Director</span> <span>Masako Yamada</span>
    </dd>

    <dt>Advisors</dt>
    <dd class="grid-2">
      <span>Advisor Attorney</span>
      <span>Motoharu Mizumura (<a href="http://www.mirailaw.jp">Mirai General Law Office</a>)</span>
      <span>Advisor tax accountant</span>
      <span>Kaori Suzuki (<a href="http://www.kaikeiroumu.com">Mitsuo Suzuki Tax Accountant Office</a>)</span>
      <span>Labor and social security attorney</span>
      <span>Tamiko Hirao (<a href="https://www.sr-shiga.com/member-search/kohoku/365.html">Hirao Social Insurance Workers Office</a>)</span>
    </dd>

    <dt>Organization member</dt>
    <dd class="grid-2">
      <span>Accredited management innovation support organization</span>
      <span>
        Ministry of Finance Kanto Finance Bureau / Ministry of Economy,
        Trade and Industry Kanto Bureau of Economy, Trade and Industry
      </span>
      <span>Regular member</span>
      <span>Business revival practitioners association</span>
      <span>Regular member</span>
      <span>Business Revitalization Research Organization</span>
    </dd>

    <dt>Investment information</dt>
    <dd>
      <div>
        <a href="http://www.garakusha.com">Garakusha LLC</a>
      </div>
      <div>
        <a href="https://www.sports-gear.co.jp">Sports Gear, Inc.</a>
      </div>
    </dd>
  </dl>

  <figure class="map inner">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3204.846383523887!2d139.903934416131!3d36.557816739003975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601f67707c9e150d%3A0xee0e7654ed98f4a1!2z4oCL44OV44Kj44ON44K544Kz5qCq5byP5Lya56S-!5e0!3m2!1sen!2sen!4v1610905085723!5m2!1sen!2sen" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <figcaption>[Finesco Ltd. headquarters location]</figcaption>
  </figure>
</section>


<section class="form">
  <div class="inner">
    <div class="required-info"><span class="required"/> Required field</div>
    <form name="contact-en" method="POST" data-netlify="true" action="/sent/en">
      <div>
        <label for="form-name">Name<span class="required"/></label>
        <input name="name" id="form-name" />
      </div>
      <div>
        <label for="form-email">Email Address<span class="required"/></label>
        <input name="email" id="form-email" />
      </div>
      <div>
        <label for="form-message">Message<span class="required"/></label>
        <textarea name="message" id="form-message"></textarea>
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>
</section>
''
