<div class="company">
  <div class="links">
    <a href="/rules.html">​サイトのご利用にあたって</a>
    <a href="/privacy.html">個人情報保護方針</a>
    <a href="/disclaimer.html">免責事項</a>
  </div>

  <div class="legal">
    栃木県のみならず全国対象：経営アドバイザリーサービス・ビジネス創業支援・事業承継・M＆A
  </div>
  <div class="address">
    等 [財務省・経済産業省: 認定経営革新等支援機関]
    <span>フィネスコ株式会社</span>
    〒321-0953 栃木県宇都宮市東宿郷三丁目2-3 カナメビル8F
  </div>
  <div class="owner">代表取締役社長： ⼭⽥ 仁浩</div>
  <div class="copy">&copy; Finesco Inc. All Rights Reserved.</div>
</div>

<div class="positive">
  Website by
  <a href="http://www.positive.la" target="_blank">Positive Company</a>
</div>
