''
<div id="hero">
  <div class="flipper">
    <img src="/images/home_hero_first.svg" />
    <img src="/images/home_hero_first.svg" />
  </div>
  <h2>
    Always with you
    <div class="small">
      フィネスコは、企業価値の向上を<br/>
      目指すお客様に伴走しながら、<br/>
      さまざまな経営課題をお客様と<br/>
      共に解決してゆく会社です。
    </div>
  </h2>
  <a class="button" href="/soudan">無料ご相談はこちら</a>
</div>

<section class="news">
  <div class="inner">
    <h3><a href="/info">News</a></h3>
    <table>
      <tbody>
        ${ __concatStringsSep "" (map (post: ''
          <tr>
            <td>
              <time datetime="${ post.meta.date }">${ __elemAt (__split " " post.meta.date) 0 }</time>
            </td>
            <td>
              <div class="title"><a href="${ post.url }">${ post.meta.title }</a></div>
            </td>
          </tr>
        '') latestBlogPosts) }
      </tbody>
    </table>
  </div>
</section>

<section class="service">
  <div class="inner">
    <h3 class="service-title">Service</h3>

    <div class="logo service-1-logo">
      <img src="/images/service.svg" />
    </div>
    <h4 class="title service-1-title">
      フィナンシャルアドバイザリーサービス
    </h4>
    <p class="desc service-1-desc">
      経営改善や事業再生に必要な経営改善計画・事業再生計画の策定支援のほか、各種補助金申請で重要な事業計画の策定を行います。
      また上記計画に必要な各種デューデリジェンス（事業・財務・労務・人事・不動産等）を、広範囲なネットワークから適切な専門家を選定し、ワンストップで対応します。
      資本戦略から資金調達支援なども対応しております。
    </p>

    <div class="logo service-2-logo">
      <img src="/images/ma.svg" />
    </div>
    <h4 class="title service-2-title">M&Aアドバイザリー・PMI</h4>

    <p class="desc service-2-desc">
      全国的な複数のプラットフォームを使った広域マッチングから、専門性の高いハードな入札案件のアドバイザーまで、規模の大小に関わらず、質の高いザービスを提供します。
      またM&amp;Aは「その後」のケアが大切です。「ヒト」「モノ・カネ」そして「DX」の4面から、バランスの取れた質の高いPMIソリューションを提供します。
    </p>

    <div class="logo service-3-logo">
      <img src="/images/advisor.svg" />
    </div>

    <h4 class="title service-3-title">経営コンサルティング・モニタリングサービス</h4>
    <p class="desc service-3-desc">
      フィネスコは創業以来「お客様と共に汗をかく」伴走型のコンサルを続けています。
      一時的な売上や利益を高めるだけではなく、
      持続的な成長に必要な「バランスシートの強化」を中長期的視野で目指して行きます。
    </p>

    <div class="logo service-4-logo">
      <img src="/images/advice-bag.svg" style="max-height: 7em;"/>
    </div>
    <h4 class="title service-4-title">
      ハンズオン支援
    </h4>
    <p class="desc service-4-desc">
      経営陣から専門スタッフの検索、
      直接的な資本参加やビジネスマッチングなど、
      直接的に「汗をかく」支援も行っています。
    </p>
  </div>
</section>

<section class="character">
  <div class="inner">
    <div class="left">
      <h3>
        営業エリアは栃木のみならず全国
      </h3>

      <img src="/images/japan.svg" />

      <div class="text">
        <p>
          全国の地域⾦融機関を回った経験から、広域ネットワークを有しております。
          各専門家とは機密を確保したクラウドサービスで情報共有を⾏い、
          迅速かつ低コストな全サービスを、
          栃木のみならず全国にご提供します。
        </p>
      </div>
    </div>

    <div class="right">
      <h3>
        マスコットキャラクター
      </h3>

      <img src="/images/cats.png" />

      <div class="caption">
        <p>
          創立5周年記念時に誕生しました「 フィネオ ＆ ネスコ 」。
          幅広いご年齢層から大変ご好評頂いており、
          当社のカレンダーなどに登場しております。
        </p>
      </div>
    </div>
  </div>
</section>

<section class="contact">
  <div class="inner">
    <h3>お気軽にご相談ください</h3>
    <p>24時間以内にご連絡差し上げます。</p>
    <a class="button" href="/contact">無料ご相談・お問い合わせはこちら</a>
    <a class="soudan" href="/soudan">ご相談の流れはこちら</a>
  </div>
</section>

<section class="communication">
  <div class="inner">
    <p>
      ACCESS<br />
      〒321-0953 <a href="https://maps.google.com/maps?ll=36.55781,139.906126&z=16&t=m&hl=ja&gl=US&mapclient=embed&daddr=%E3%83%95%E3%82%A3%E3%83%8D%E3%82%B9%E3%82%B3%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%20%E6%97%A5%E6%9C%AC%20%E3%80%92321-0953%20%E6%A0%83%E6%9C%A8%E7%9C%8C%E5%AE%87%E9%83%BD%E5%AE%AE%E5%B8%82%E5%AE%BF%E9%83%B7%EF%BC%93%E4%B8%81%E7%9B%AE%EF%BC%92%E2%88%92%EF%BC%93@36.5578097,139.9061255">栃木県宇都宮市東宿郷三丁目2-3 カナメビル 8Ｆ</a>
    </p>

    <p>
      CONTACT<br />
      TEL: <a href="tel:+81283052925">028-305-2925</a><br />
      Email : <a href="mailto:info@finesco.jp">info@finesco.jp</a>
    </p>

    <p><a href="https://ja-jp.facebook.com/Finesco-Inc-427977463911779/">Facebook</a></p>
  </div>
</section>
''
