<ul id="menu">
  <li>$navLink("/", "Home")$</li>
  <li>$navLink("/about.html", "会社概要")$</li>
  <li>$navLink("/service.html", "サービス一覧")$</li>
  <li>$navLink("/soudan.html", "ご相談の流れ")$</li>
  <li>$navLink("/info.html", "お知らせ")$</li>
  <li>$navLink("/column.html", "コラム")$</li>
  <li>$navLink("/blog.html", "ブログ")$</li>
  <li>$navLink("/contact.html", "お問い合わせ")$</li>
  <li>$navLink("/english.html", "ENGLISH")$</li>
  <li><a href="https://ja-jp.facebook.com/Finesco-Inc-427977463911779/">Facebook</a></li>
</ul>
