<article>
  <section class="header">
    <h2><a href="{{ .url }}">{{ .title }}</a></h2>
    <date datetime="{{ .date }}">{{ .date }}</date>
    <hr/>
  </section>

  <section class="body">
    {{ .body }}
  </section>
</article>
