''
<article>
  <section class="header">
    <h2><a href="${ url }">${ meta.title }</a></h2>
    <date datetime="${ meta.date }">${ __elemAt (__split " " meta.date) 0 }</date>
    <hr/>
  </section>

  <section class="body">
    ${ body }
  </section>
</article>
''
