''
<ul>
  ${ __concatStringsSep " " (map (post:
    ''
      <li>
        <div class="title"><a href="${ post.url }">${ post.meta.title }</a></div>
        <time datetime="${ post.meta.date }">${ __elemAt (__split " " post.meta.date) 0 }</time>
      </li>
    ''
  ) posts) }
</ul>
''
