''
<h2>${ title }</h2>
<article>
  <p>フィネスコ 株式会社(以下「当社」といいます。)は、個人情報の適切な取扱いが当社の社会的責務であると認識し、次のとおり個人情報保護方針を定め、すべての社員および従業員(従業員 には派遣職員、短期的に雇用する者も含みます。以下「全従業者」とします。)に周知徹底するとともに、これを遵守することによって個人情報の保護に万全を尽くすとともに、個人情報の取扱いに注意を払っております。</p>

  <ol>
    <li>個人情報保護方針

      <ol>
        <li>当社は、皆様の個人情報の適正な取り扱いに関する法令その他の規範を遵守します。</li>
        <li>当社は、皆様の個人情報を適正に取得し、法令に定める場合を除き、皆様の個人情報の利用目的を通知または公表し、利用目的の範囲内において使用いたします。</li>
        <li>当社は、全従業者が個人情報の重要性を理解し、皆様の個人情報を適切に取り扱うよう教育いたします。</li>
        <li>当社は、皆様の個人情報に関し、不正アクセス、個人情報の紛失、改ざんおよび漏洩等の防止に努め、適切な安全管理措置を実施いたします。</li>
        <li>当社は、法令に定める場合を除き、皆様の個人情報をあらかじめご本人の同意を得ることなく第三者に提供することはいたしません。</li>
        <li>当社が皆様の個人情報の取扱いを委託する場合は、皆様の個人情報の安全管理が図られるよう適切に監督いたします。</li>
        <li>当社は、個人情報保護のための管理体制および取組みを継続的に見直し、その改善に努めてまいります。
​        </li>
      </ol>
    </li>
    <li><p>個人情報の取扱いについて</p>

      <ol>
        <li>個人情報の利用目的

          <ol>
            <li>事業の創造/買収/ファイナンス、これら新規事業/買収/ファイナンスと現行の事業運営との統合、業務パフォーマンスの改善、経営と内部統制の改善、クライシス・マネジメント、リストラクチャリングと価値実現等の各種サービスのご提案およびご提供</li>
            <li>当社の出版物(Webサイト・E-Mailによるものを含みます)による情報提供およびその販売・購読のご案内</li>
            <li>各種セミナーや勉強会の開催のご案内およびそれらの運営</li>
            <li>全従業者の採用選考および採用後の人事管理</li>
            <li>2.1. に掲げるサービスに関する提言・統計・調査等および公的機関等の諮問に応じるなどの社会貢献活動</li>
            <li>皆様からの各種問い合わせへの回答 上記の利用目的は、個人情報保護方針を当社ホームページに掲載することにより公表いたします。 また、書面によりご本人から直接、個人情報を取得する場合は、あらかじめ皆様に利用目的を明示いたします。</li>
          </ol>
        </li>
      </ol>
    </li>
    <li><p>共同利用
        当社は、取得した皆様の個人情報を、上記利用目的の範囲内で業務の遂行上必要な場合またはフィネスコグループ全体による提供サービス向上に役立てるため、フィネスコグル ープのメンバーファーム(監査法人や税理士法人を含みます。)との間で共同利用することがあります。共同利用する個人情報は、以下のとおりです。
        「氏名、年齢、住所、電話番号、FAX番号、メールアドレス、勤務先、所属、役職 、お客様からご提示された情報、第三者から適正に取得した情報」
        なお、当社は、個人情報保護法第23条第2項に基づき、ご本人からのお求めがある場合にはそれに応じて、当該ご本人の個人情報またはこれを含むデータについて、フィネスコのメンバーフ ァームへの提供を停止することといたします。</p></li>
    <li><p>安全対策の実施について
        当社は、個人情報の正確性および安全性を確保するために、情報セキュリティ対策をはじめとす る安全対策を実施し、個人情報への不正アクセス、または個人情報の紛失、破壊、改ざん、漏え い等の防止に努めます。また、安全対策に改善が必要と認められた場合には、速やかにこれを是正いたします。
        さらに、この方針に基づく個人情報保護規程や管理体制を定め、その内容を継続的に見直し、改善に努めます。</p></li>
    <li><p>組織・体制
        当社は、部門ごとに個人データ管理者を選任し、個人情報の適正な管理を実施します。また、全従業者に対し、個人情報の保護および適正な管理方法について研修を実施し、日常業務における 個人情報の適正な取り扱いを徹底します。</p></li>
    <li><p>保有個人データの開示等の求めに応じる手続
        当社の保有個人データの開示等(利用目的の通知、開示、訂正、追加、削除、利用停止、消去、 第三者提供の停止)の求めに応じる手続は以下のとおりです。
        開示等をお求めの場合は、次項記載の方法でお問い合わせください。
        なお開示等にあたっては、手続に要する諸費用の実費をご請求申し上げます。</p></li>
    <li><p>個人情報の取扱いに関するご意見・お問い合わせ
        当社は、個人情報の取扱いに関するご意見・お問い合わせに適切に取組みます。
        当社における個 人情報保護の取組みに関するお問い合わせや、お客様の個人情報の開示、訂正、使用停止、消去等の要求、その他のお問い合わせ・苦情につきましては、<a href="/contact.html">お問い合わせページから</a>ご本人によりご連絡ください。</p></li>
  </ol>
</article>
''
