''
<h2>${ title }</h2>

<article>
  <h3>著作権について</h3>

  <p>フィネスコ株式会社(以下、当社)サイト内のコンテンツ(文章・資料・画像・動画
    など) の著作権は、当社およびFinescoが保有します。<br>
    営利、非営利を問わず、当社サイトのコンテンツを許可なく複製、転用、販売など二次利
    用することを禁じます。</p>

  <h3>リンクについて</h3>

  <p>当社サイトから、または、当社サイトへリンクしている、当社以外の第三者が運営する
    Webサイト(以下、リンクサイト)の内容は、当社が管理するものではありません。リンク
    サイ トの内容および、リンクサイトをご利用になったことで生じた損害について、当社
    は一切責任を負いません。</p>
</article>
''
