''
<h2>${ title }</h2>
<article>
  <ol>
    <li>FAS 業務（Financial Advisory Service）

      <ol>
        <li>各種デューデリジェンス（ビジネス・財務・税務・法務・不動産）業務</li>
        <li>事業計画・経営改善計画の策定、及び支援業務</li>
        <li>事業再生、事業再編、及び事業再構築のストラクチャー（仕組み）の策定、及び事業再生計画等の策定支援業務</li>
        <li>BRS(Business Recovery Service)　経営維持に重大な支障が発生した企業に対し、専門家ユニットを投入。早期、かつ迅速に問題を解決するサービス</li>
      </ol>
    </li>

    <li>M&amp;A アドバイザリー、事業承継アドバイザリー

      <ol>
        <li>M&amp;AにおけるFA（フィナンシャルアドバイザリー）業務全般</li>
        <li>事業承継におけるストラクチャー（仕組み）の策定、及び専門家チームによるそのエグゼキューション（実行）業務</li>
        <li>M&amp;Aマッチングプラットフォームを利用した、売り買いのマッチング業務</li>
        <li>PMI（M&amp;A後のシナジー効果極大化のための施策）の実行アドバイザリー、またはハンズオン支援</li>
      </ol>
    </li>

    <li>経営コンサルティング・アドバイザリー業務

      <ol>
        <li>事業計画・経営改善計画のインストール、モニタリング業務</li>
        <li>資⾦繰り改善、キャッシュフロー改善のためのアドバイザリー業務</li>
        <li>組織改革、リストラクチャリング、経営体制強化等のアドバイザリー業務</li>
        <li>認定支援機関としての各種補助金（事業再構築補助金・ものつくり補助金等）申請の支援業務</li>
        <li>その他、企業経営全般に関するソリューション・コンサルティング業務（重要資産のリース業務・古物業法上の動産売買業務等を含む）</li>
      </ol>
    </li>
    <li>ハンズオン支援 （経営直接支援サービス）

      <ol>
        <li>役員等に就任することによる、スタートアップ（創業）の直接的な経営支援業務</li>
        <li>代表者の派遣、あるは経営陣（役員等）の就任によるターンアラウンドフェーズ（業績不振～経営危機時）の抜本的経営改革の遂行。必要な場合は出資も検討。</li>
      </ol>
    </li>
  </ol>
</article>
''
