''
<h2>${ title }</h2>

<section class="with-icon">
  <p>
    当社のホームページをご覧いただいたのも何かの縁でございます。<br />
    お一人で悩まれる前に、まずご相談下さい。<br />
    相談した瞬間、心の重荷が少し軽くなるはずです。
  </p>
  <p>
    当社は国が認定した公的な「認定経営革新等支援機関」ご相談は無料です。
  </p>
</section>

<section class="with-icon">
  <h3>営業エリアは栃木のみならず全国</h3>
  <img src="/images/japan.svg" />
  <p>
    全国の地域⾦融機関を回った経験から、広域ネットワークを有しております。
  </p>
  <p>​全地域からどうぞお問い合わせ下さい。</p>
</section>

<section class="with-icon">
  <h3>１．ご相談のお申込み・お問い合わせ</h3>
  <img src="/images/envelope.svg" />
  <p>
    <a href="/contact">お問い合せ</a>ページより受付ております。​<br />
    ​24時間以内にご連絡差し上げます。
  </p>
</section>

<section class="with-icon">
  <h3>２．面談日の調整</h3>
  <img src="/images/wristwatch.svg" />
  <p>
    必要書類をご準備いただき、面談の調整をいたします。<br />
    緊急の場合は、資料準備は後日で結構です。
  </p>
</section>

<section class="with-icon">
  <h3>３．面談</h3>
  <img src="/images/person.svg" />
  <p>
    決算報告等の資料を準備いただいての面談を基本としております。<br />
    顔を見てお話ししましょう。
  </p>
</section>

<section class="with-icon">
  <h3>４．契約締結について</h3>
  <img src="/images/file.svg" />
  <p>
    ご用意頂いた資料を基に、当社より課題解決にあたってのおおまかなスケジュールをご提案いたします。<br />
    ​また、あわせて料金についてもご提示させて頂きます。
  </p>
</section>

<section class="with-icon">
  <h3>５．料金について</h3>
  <img src="/images/paperclip.svg" />
  <p>
    会社の規模、課題解決までの時間、スキーム（手段）によって、設定料金を決めさせて頂いております。<br />
    会社の立ち上げ前後や業績悪化で「相談したいけど、料金が支払えない」とお考えの方も多いと思いますが、ご安心ください。
  </p>
  <p>
    ​お支払方法は柔軟にさせて頂いております。<br />
    もちろん「予算の範囲内で」というご希望にも対応しております。
  </p>
</section>

<section class="with-icon">
  <h3>６．業務スタート</h3>
  <img src="/images/reload.svg" />
  <p>
    当社で各専門家を組み合わせ、御社に最適なチームを作り、業務スタートです。
  </p>
</section>

<section class="with-icon">
  <img src="/images/ok-o.svg" />
  <p>
    医師が最初に様々な検査をするように、<br />
    当社では、まず「事業デューデリジェンス」と「財務デューデリジェンス」を⾏います。<br />
    ​ 初期の段階で専門家の「精密検査」を受けることで、適切な処⽅を⽴て、<br />
    ​効率的で実践的なソリューション（課題解決）を⾏うことが可能となります。
  </p>
</section>

<section class="with-icon">
  <img src="/images/speech.svg" />
  <p>
    月間の相談回数に上限を定めていません。<br />
    クライアントは必要に応じてタイムリーに助⾔を得ることが可能です。<br />
    ​訪問する際の交通費や時間的コストを抑えるために、Ｗｅｂコミュニケーション手段も取り⼊れております。
  </p>
</section>

<section class="with-icon">
  <img src="/images/link.svg" />
  <p>
    当社は檀上に構えてお説教をする一般的なコンサルティング会社ではありません。<br />
    ​クライアントと共に汗をかき、悩みを共有しながら、きめ細やかなソリューションサービスを提供します。
  </p>
  ​
  <p>
    当社は、「日本のファイナンシャル・アドバイザリーサービスは高すぎる」と思っています。<br />
    フィネスコ本社は栃木県宇都宮市にありまして、<br />
    ​都会の一等地で高い家賃を払うなら、その分クライアントに還元するのが当社のポリシーです。
  </p>
</section>

<div class="bg-soudan parallax">
  <h3>まずは一度ご相談ください。</h3>
  <a class="button" href="/contact.html">無料ご相談・お問い合わせはこちら</a>
</div>
''
